/* Global Style */
body {
  margin: 0px;
  padding: 0 100px 0;
}

li {
  list-style: none;
}

.header,
.header-links,
.title,
.lists-of-places,
.place {
  display: flex;
}

/* Section 1 Style */

.section-1 {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 5px 120px 60px;
  /* margin: 0 100px 0; */
}

.header,
.title {
  justify-content: space-between;
  align-items: center;
  /* min-width: 0px; */
  margin-bottom: 40px;
  gap: 50px;
}

.title-text,
.title-image {
  flex: 1;
}

.title-image {
  width: 160px;
  max-width: 480px;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  gap: 30px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
}

.description,
a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

button {
  color: inherit;
  background-color: #3882f6;
  border-radius: 8px;
  padding: 6px;
}

/* Section 2 Style */

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.lists-of-places {
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}

.place {
  flex-direction: column;
  width: 200px;
  height: 205px;
  padding: 5px;
  gap: 5px;
}

.place-of-interest-image {
  height: 150px;
}

.place-img-subtext {
  height: 50px;
  font-size: 12px;
  text-align: center;
}
